.intro {
    background-color: #f3f9ff;
    background-image: url("http://evrhst-a.akamaihd.net/7966/img/intro-bg-left.png");
    background-position: -300px 0;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.intro::after {
    content: '';
    position: absolute;
    bottom: -98px;
    display: block;
    width: 100%;
    height: 109px;
    background: url("http://evrhst-a.akamaihd.net/7966/img/wave-bottom.png") calc(50% + -30px) 0 no-repeat;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.intro__header {
    padding-top: 14px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 88px;
}

.logo__pic {
    width: 81px;
    height: 56px;
}

.logo__img {
    max-width: 100%;
    display: block;
}

.logo__name {
    margin-left: 17px;
    font-size: 22px;
    color: #383334;
}

.intro__header-list {
    width: 647px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 21px;
}

.intro__header-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.intro__header-desc {
    margin-left: 12px;
    font-size: 16px;
    color: #666666;
}

.intro__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.intro__product {
    position: relative;
    width: 471px;
    padding-top: 40px;
}

.intro__product-legs {
    position: absolute;
    z-index: 2;
    top: -120px;
    left: -215px;
    max-width: none;
}

.intro__product-pic {
    position: relative;
    z-index: 1;
    left: -99px;
    width: 571px;
    height: 571px;
}

.intro__circle {
    position: absolute;
    top: -56px;
    left: 37px;
    width: 571px;
    height: 571px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.intro__circle-img {
    fill: transparent;
    stroke: #fff;
    stroke-width: 6;
    stroke-dasharray: 293, 440;
    width: 700px;
    height: 700px;
}

.intro__product-img {
    max-width: 100%;
    display: block;
}

.intro__pack {
    position: absolute;
    z-index: 3;
    top: 367px;
    left: -941px;
}

.intro__pack::after {
    content: '';
    position: absolute;
    top: 0;
    right: -148px;
    z-index: -1;
    display: block;
    width: 313px;
    height: 232px;
    background: url("http://evrhst-a.akamaihd.net/7966/img/pack-decor.png") 0 0 no-repeat;
}

.intro__pack-img {
    display: block;
}

.intro__pack-tablets {
    position: relative;
}

.intro__tablets {
    max-width: 364px;
}

.intro__pack-label {
    position: absolute;
    top: -11px;
    right: -12px;
    width: 110px;
    padding: 3px 0 0 3px;
    font-size: 34px;
    line-height: 1;
    text-align: center;
    color: #fff;
    background-color: #ff6b00;
    border-radius: 8px;
}
.intro__pack-lab {
    position: absolute;
    top: -16px;
    right: 22px;
    width: 110px;
    padding: 3px 0 0 3px;
    font-size: 34px;
    line-height: 1;
    text-align: center;
    color: #fff;
    background-color: #a8ca3f;
    border-radius: 8px;
}

.intro__pack-label_island {
    background-color: #a8ca3f;
    top: -15px;
    right: 33px;
}

.intro__pacl-currency {
    font-weight: normal;
    font-size: 18px;
}

.intro__pack-img_tablets {
    position: absolute;
    bottom: -58px;
    left: -50px;
}

.intro__pack-gel {
    position: absolute;
    top: 134px;
    left: 106px;
    width: 415px;
}

.intro__pack-img_stick {
    position: absolute;
    top: 207px;
    left: 234px;
}

.intro__desc {
    max-width: 373px;
}

.intro__title {
    margin-bottom: 36px;
    max-width: 331px;
    font-size: 44px;
    color: #383334;
    line-height: 1;
}

.intro__desc-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
}

.intro__desc-item:first-child::before {
    content: '';
    position: absolute;
    left: 26px;
    bottom: -36px;
    display: block;
    width: 9px;
    height: 31px;
    background: url("http://evrhst-a.akamaihd.net/7966/img/intro-list-arrow-way.png") 0 0 no-repeat;
}

.intro__desc-item:not(:first-child)::before {
    content: '';
    position: absolute;
    left: 26px;
    bottom: -46px;
    display: block;
    width: 9px;
    height: 40px;
    background: url("http://evrhst-a.akamaihd.net/7966/img/intro-list-arrow-sequel.png") 0 0 no-repeat;
}

.intro__desc-item:last-child::before {
    content: none;
}

.intro__desc-item:not(:last-child) {
    margin-bottom: 39px;
}

.intro__desc-bullet {
    margin: 0 27px 0 7px;
    width: 46px;
    height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #a7c93d;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    -webkit-box-shadow: 0 0 0 7px #e8edc9;
    box-shadow: 0 0 0 7px #e8edc9;
}

.intro__title-small {
    font-size: 34px;
}

.intro__desc-text {
    width: 290px;
    font-size: 20px;
    color: #444444;
    line-height: 1.1;
}

.intro__form {
    position: relative;
}